@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";

}

<div class="row justify-content-center my-5">
    <div class="card w-100">
        <div class="card-body d-inline-flex">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle w-100" id="courseButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberi studij
                    </button>
                    <div class="dropdown-menu w-100" id="courses" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-warning  w-100" id="resetButton">Resetiraj</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-between mb-5">
    <div class="col-md-6">
        <div class="card border-0 shadow">
            <div class="card-body overflow-auto">
                <h5 class="card-title">Studenti</h5>
                <p class="card-text">Ispod se nalaze svi studenti koji <strong>nisu</strong> dobili željenog mentora.</p>
                <hr />
                <div class="row">
                    <ul class="list-group w-100" id="studentsInfo">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card border-0 shadow">
            <div class="card-body overflow-auto">
                <h5 class="card-title">Profesori</h5>
                <p class="card-text">Glavne informacije o profesorima na <strong>odabranom</strong> smjeru.</p>
                <hr />
                <div class="row">
                    <ul class="list-group w-100" id="assignedProfessor">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        var courseDropDown = [];
        var studentsDropDown = [];
        var liElementStudents = [];
        var liElementsProfessors = [];
        var footerLiElementsProfessors = [];
        var liElementsAssignedProfessor = [];


        $(document).ready(function () {

            loadCourses();

            function loadCourses() {
                $.ajax({
                    url: '@Url.Action("GetAllCourses", "Admins")',
                    type: "GET",
                    success: function (result) {
                        $.each(result, function (idx, val) {
                            var aElement = document.createElement("a");
                            aElement.textContent = val.courseName;
                            aElement.className = "dropdown-item";
                            aElement.href = "#";
                            aElement.id = val.id;
                            courseDropDown.push(aElement);
                        });
                        $("#courses").html(courseDropDown);
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            }

            $("#resetButton").click(function () {
                $("#students").empty();
                courseDropDown = [];
                studentsDropDown = [];
                liElementStudents = [];
                liElementsProfessors = [];
                footerLiElementsProfessors = [];
                liElementsAssignedProfessor = [];

                $("#studentButton").text("Odaberi studenta");
                $("#courseButton").text("Odaberi studij");
                $("#studentInfo").html(liElementStudents);
                $("#chosenProfessors").html(liElementsProfessors);
                $("#assignedProfessor").html(liElementsAssignedProfessor);
                $(".card.border-0").css("height", "");

                loadCourses();

            });

            $(".dropdown-menu#courses").click(function (event) {
                var text = event.target.innerText
                $("#courseButton").text(text);

                $.ajax({
                    url: '@Url.Action("GetUnassignedStudentsByCourseId", "Admins")',
                    type: "GET",
                    data: { courseId: event.target.id },
                    success: function (result) {
                        console.log()
                        $.each(result, function (idx, val) {
                            var footer = document.createElement("footer");
                            footer.className = "blockquote-footer";
                            footer.textContent = val.comment + ', ' + val.points;

                            var liElement = document.createElement("li");
                            liElement.className = "list-group-item border-0";
                            liElement.id = val.id;

                            var aElement = document.createElement("a");
                            aElement.textContent = val.firstName + ' ' + val.lastName;
                            aElement.className = "btn btn-dark professor";
                            aElement.href = "#";

                            liElement.appendChild(aElement);
                            liElement.appendChild(footer);
                            studentsDropDown.push(liElement);
                        });
                        $("#studentsInfo").html(studentsDropDown);
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });

            $(".dropdown-menu#students").click(function (event) {
                var text = event.target.innerText
                $("#studentButton").text(text);

                $.ajax({
                    url: '@Url.Action("GetAllStudentProfessorDetails", "Admins")',
                    type: "GET",
                    data: { userId: event.target.id },
                    success: function (result) {
                        $(".card.border-0").css("height","62vh");
                        createStudent(result.studentUserDto);
                        createProfessorList(result.professorBasicInfoDto);
                        createAssignedProfessor(result.assignedProfessorBasicInfoDto);
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });

        });

    </script>
}
