@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";

}

<div class="row justify-content-center my-5">
    <div class="card w-100">
        <div class="card-body d-inline-flex">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle w-100" id="courseButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Odaberi studij
                    </button>
                    <div class="dropdown-menu w-100" id="courses" aria-labelledby="dropdownMenuButton">
                    </div>
                </div>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-warning  w-100" id="resetButton">Resetiraj</button>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-between mb-5">
    <div class="col-md-6">
        <div class="card border-0 shadow">
            <div class="card-body overflow-auto">
                <h5 class="card-title">Studenti</h5>
                <p class="card-text">Ispod se nalaze svi studenti koji <strong>nisu</strong> dobili željenog mentora.</p>
                <hr />
                <div class="row">
                    <ul class="list-group w-100" id="studentsInfo">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card card border-0 shadow">
            <div class="card-body overflow-auto">
                <h5 class="card-title">Profesori</h5>
                <p class="card-text">Glavne informacije o profesorima na <strong>odabranom</strong> smjeru.</p>
                <hr />
                <div class="row">
                    <ul class="list-group w-100" id="availableProfessors">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row w-75 mx-auto mb-5 student-professor" style="visibility:hidden;">
    <div class="col">
        <div class="card border-0 shadow">
            <div class="card-body overflow-auto" id="studentName">
                <h6 class="card-title text-muted">Student: </h6>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card card border-0 shadow">
            <div class="card-body overflow-auto" id="professorName">
                <h6 class="card-title text-muted">Profesor: </h6>
            </div>
        </div>
    </div>
</div>

<div class="row justify-content-center mt-5 student-professor" style="visibility:hidden">
    <a class="btn btn-info w-25" href="#" id="saveButton">Spoji</a>
</div>

@section Scripts {
    <script>

        var courseDropDown = [];
        var studentsDropDown = [];
        var liElementsProfessors = [];


        $(document).ready(function () {

            loadCourses();

            function loadCourses() {
                $.ajax({
                    url: '@Url.Action("GetAllCourses", "Admins")',
                    type: "GET",
                    success: function (result) {
                        $.each(result, function (idx, val) {
                            var aElement = document.createElement("a");
                            aElement.textContent = val.courseName;
                            aElement.className = "dropdown-item";
                            aElement.href = "#";
                            aElement.id = val.id;
                            courseDropDown.push(aElement);
                        });
                        $("#courses").html(courseDropDown);
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            }

            $("#resetButton").click(function () {
                $("#students").empty();
                courseDropDown = [];
                studentsDropDown = [];
                liElementsProfessors = [];

                $("#courseButton").text("Odaberi studij");
                $("#studentsInfo").html(studentsDropDown);
                $("#availableProfessors").html(liElementsProfessors);
                $(".card.border-0").css("height", "");
                $("#studentName > h3").text("");
                $("#professorName > h3").text("");
                $(".student-professor").css("visibility", "hidden");

                loadCourses();

            });

            $(".dropdown-menu#courses").click(function (event) {
                var text = event.target.innerText
                $("#courseButton").text(text);

                $.ajax({
                    url: '@Url.Action("GetUnassignedStudentsByCourseId", "Admins")',
                    type: "GET",
                    data: { courseId: event.target.id },
                    success: function (result) {
                        $.each(result, function (idx, val) {
                            var footer = document.createElement("footer");
                            footer.className = "blockquote-footer";
                            footer.textContent = val.comment + ', ' + val.points + ' bodova';

                            var liElement = document.createElement("li");
                            liElement.className = "list-group-item border-0";
                            liElement.id = val.studentId;

                            var aElement = document.createElement("a");
                            aElement.textContent = val.firstName + ' ' + val.lastName;
                            aElement.className = "btn btn-dark student";
                            aElement.href = "#";

                            liElement.appendChild(aElement);
                            liElement.appendChild(footer);
                            studentsDropDown.push(liElement);
                        });
                        $("#studentsInfo").html(studentsDropDown);

                        // fetcha sve buttone koji imaju klasu .list-group-item
                        const buttonList = document.querySelectorAll('.list-group-item a');
                        // Dodati referencu na klik na svaki dohvaćeni "button"
                        for (let i = 0; i < buttonList.length; i++) {
                            const button = buttonList[i];
                            // Referenca na funkciju "handleButtonClick" koja automatski šalje "event" parametar
                            button.addEventListener('click', handleButtonClickStudent);
                        }

                    $.ajax({
                        url: '@Url.Action("GetProfessorsByCourseAndMaxPoints", "Admins")',
                        type: "GET",
                        data: { courseId: event.target.id },
                        success: function (result) {
                            $.each(result, function (idx, val) {
                                var footer = document.createElement("footer");
                                footer.className = "blockquote-footer";
                                footer.textContent = val.areaOfInterestOne + ', ' + val.areaOfInterestTwo + ', ' + val.areaOfInterestThree;

                                var liElement = document.createElement("li");
                                liElement.className = "list-group-item border-0";

                                var aElement = document.createElement("a");
                                aElement.textContent = val.firstName + ' ' + val.lastName;
                                aElement.className = "btn btn-secondary professor";
                                aElement.href = "#";
                                aElement.id = val.userId;

                                liElement.appendChild(aElement);
                                liElement.appendChild(footer);
                                liElementsProfessors.push(liElement);
                            });
                            $("#availableProfessors").html(liElementsProfessors);
                        },
                        error: function () {
                            alert("Something went wrong call the police");
                        }
                    });
                    },
                    error: function () {
                        alert("Something went wrong call the police");
                    }
                });
            });

            function handleButtonClickStudent(e) {
                var hElement = document.createElement("h3");
                hElement.textContent = e.target.innerText;
                hElement.className = "";
                hElement.id = e.path[1].id;

                for (i = 0; i < studentsDropDown.length; i++) {
                    if (studentsDropDown[i].id == e.path[1].id)
                        studentsDropDown.splice(i, 1);
                }

                $("#studentsInfo").html(studentsDropDown);

                $("#studentName").append(hElement);

                $(".student-professor").css("visibility", "visible");
            }

            $(document).on("click", ".professor", function () {
                var professor = this; // or var clickedBtnID = this.id
                var i = 0;

                var hElement = document.createElement("h3");
                hElement.textContent = professor.innerText;
                hElement.className = "";
                hElement.id = professor.id;

                for (i = 0; i < liElementsProfessors.length; i++) {
                    if (liElementsProfessors[i].children[0].id == professor.id)
                        liElementsProfessors.splice(i, 1);
                }

                $("#availableProfessors").html(liElementsProfessors);
                $("#professorName").append(hElement);
            });

            $(document).on("click", "#saveButton", function () {

                var studentId = $("#studentName > h3").get();
                var professorId = $("#professorName > h3").get();

                var data = JSON.stringify({
                    'studentId': studentId[0].id,
                    'professorId': professorId[0].id
                });

                $.ajax({
                    url: '@Url.Action("SaveStudentChoiceByAdminDecision", "Admins")',
                    type: "POST",
                    data: { studentId: studentId[0].id, assignedProfessorId: professorId[0].id},
                    success: function (result) {
                        Swal.queue([{
                            title: 'Uspješno spremljeno!',
                            confirmButtonText: 'Ok',
                            text: "Uspješno ste dodijelili mentora odabranom studentu.",
                            showLoaderOnConfirm: true,
                            preConfirm: () => {
                                location.reload();
                            }
                        }])
                    },
                    error: function () {
                        Swal.fire({
                            icon: 'error',
                            title: 'Greška...',
                            text: 'Došlo je do pogreške, molimo vas pokušajte se odjaviti i opet prijaviti.',
                        })
                    }
                });
            });

        });

    </script>
}
