@model UserHomeDto
@{
    ViewData["Title"] = "Home Page";
    if (Model.RoleId == 1)
    {
        Layout = "_Layout";
    }
    else if (Model.RoleId == 2)
    {
        Layout = "_LayoutProfessor";
    }
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
