@model SA.MVC.Models.LoginDto

@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="~/css/login.css" rel="stylesheet" />
</head>
<body>

    <div class="container mt-5">
        <div class="card card-container">
            <div class="row justify-content-center mb-3"><h1> <small class="text-muted">Prijavite se</small></h1></div>
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" asp-action="Login">
                <span id="reauth-email" class="reauth-email"></span>
                <input asp-for="Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Zapamti me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form>
            <a href="#" class="forgot-password">
                Zaboravili ste email?
            </a>
        </div>
    </div>

</body>
</html>



